h1 {
    color: blue;
}
p{
    color: red;
}
h1{
    color: blue;
    font-size: 40px;
}
p{
    color: grey;
    font-size: 18px;
}
button{
    background-color: green;
    color: black;
    font-size: 20px;
    padding: 10px;
}
.important{
    color:red;
}
h1,
h2,
h3{
    color: blue;
}
div p {
    color: red;
}
.card {
   background-color: lightgrey;
}
<h2> {
    color: darkblue;
}
.price {
    color: green;
  
}\
.button {
    background-color: blue;
    color: white;
}